@font-face {
    font-family: 'DM';
    src: url('./static/DMSans-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'DMBold';
    src: url('./static/DMSans-Bold.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DMSemiBold';
    src: url('./static/DMSans-SemiBold.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DMLight';
    src: url('./static/DMSans-Light.ttf');
    font-weight: 400;
    font-display: swap;
}